
h1 {
  font-family: 'Futura', sans-serif;
  letter-spacing: 1.5px;
  font-size: 65px;
  text-align: center;
  font-variant: all-petite-caps;
  font-weight: bold;
}

h2 {
    font-family: 'Futura', sans-serif;
    letter-spacing: 1.5px;
    font-size: 45px;
    font-variant: all-petite-caps;
}
  
p {
  font-size: 20px;
  line-height:1.8;
}

body {
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Garamond', serif;
    font-size: 18px;
    background-color: #F5ECE1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #536fa6;
  }
  
  .active {
    background-color: #7da5f5;
  }

  .explanation{
    margin-bottom:5%;
  }